# {{ ansible_managed }}
# Secrets for authentication using CHAP
# client        server  secret                  IP addresses

{% for user in vpn.users %}
{{ user.name }} l2tpd {{ user.password }} {{ user.ip | default("*") }}
{% endfor %}
